nav{
    background: #601c0f;
    font-family: 'Courier New', Courier, monospace,
}

p{
    color: rgb(253, 197, 132);
    padding: 2rem 2rem;
    background-color: rgb(0, 58, 66);
    border-radius: 1rem;
}
img{
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}